@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,800&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.primary {
  color: #00B8C4;
}

.button-primary {
  background-color: #00B8C4;
  color: white;
}

:root {
  --primary: #00B8C4;
  --secondary: #8C8C8C;
}
